{{>header}}

<img class="logo" src="../svg/logo.svg"/> <h1 class="site-title"> Restaurant Molveno Lake Resort</h1>
<img class="back" src="../svg/home.svg" onclick="openTab(event, 'Management')"/>
<br>
<br>
<h2 class="titleBar">Edit Specials</h2>
<button type="button" class="btnAddSpecial" id="modalButton">Add a new special</button>
<br>

<div class="modal fade" id="specialInputModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-titleInput">Create Special</h3>
            </div>
            <div class="modal-body">
                <form enctype='text/plain' id="specialFormInput" name="inputForm" onsubmit="return validateForm()">
                    <h5 class="test">Name:</h5>         <input id="nameInput" name="name" type="text">
                    <h5 class="test">Price:</h5>        <input id="priceInput" name="price" type="number">
                    <h5 class="test">Description:</h5>  <textarea id="descriptionInput" cols="40" rows="5"></textarea>
                    <h5 class="test">Dishes:</h5><!-- Hier komt een multiline selection van dishes -->
                </form>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="addButton" type="button">Confirm Special</button>
                    <button class="btn btn-default" data-dismiss="modal" id="btncloseInput" type="button">Close</button>
                </div>
                <div class="error-messages" style="display:none;"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allSpecialsModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-all-specials">All Specials</h3>
            </div>
            <div class="modal-body">
                <form id="specialForm" enctype='text/plain'>
                    <h5 class="test">Name:</h5>         <input id="nameInputEdit" name="name" type="text">
                    <h5 class="test">Price:</h5>        <input id="priceInputEdit" name="price" type="number">
                    <h5 class="test">Description:</h5>  <textarea id="descriptionInputEdit" cols="40" rows="5"></textarea>
                    <h5 class="test">Dishes:</h5><!-- Hier komt een multiline selection van dishes -->
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editbutton">Submit</button>
                <a href="#" id="confirmbutton" data-title="Are you sure" data-trigger="focus" data-toggle="clickover" data-placement="top" class="btn btn-danger">Delete</a>
                <button type="button" class="btn btn-default" id="btnCloseAllSpecials" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<table id="specialsTable" class="display">
    <col class="specialsTable_column-one">
    <col class="specialsTable_column-two">
    <col class="specialsTable_column-three">
    <col class="specialsTable_column-four">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Dishes</th>
    </tr>
    </thead>
</table>

<script src="js/management.js"></script>
<script src="js/editSpecials.js"></script>
{{>footer}}