{{>header}}

<img class="logo" src="../svg/logo.svg"/> <h1 class="site-title"> Restaurant Molveno Lake Resort</h1>

<br><br>

<h2 class="titleBar">Welcome at Molveno Lake Restaurant</h2>

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Reservation')">Reservation</button>
    <button class="tablinks" onclick="openTab(event, 'TableManager')">Table Manager</button>
    <button class="tablinks" onclick="openTab(event, 'WalkIn')">Walk In</button>
</div>

<script src="js/homepage.js"></script>

{{>footer}}