{{>header}}

<img class="logo" src="../svg/logo.svg"/> <h1 class="site-title"> Restaurant Molveno Lake Resort</h1>

<br><br>

<h2 class="titleBar">Management Screen</h2>

<div class=button-wrap1>
    <button href="#" class="buttonManagement" onclick="openTab(event, 'Dishes')">Edit Dishes</button>
    <button href="#" class="buttonManagement" onclick="openTab(event, 'Specials')">Edit Specials</button>
</div>
<div class=button-wrap2>
    <button href="#" class="buttonManagement" onclick="openTab(event, 'Stock')">Show Stock</button>
    <button href="#" class="buttonManagement" onclick="openTab(event, 'Financial')">Show Financial Data</button>
</div>


<script src="js/management.js"></script>

{{>footer}}