{{>header}}

<img class="logo" src="../svg/logo.svg"/> <h1 class="site-title"> Restaurant Molveno Lake Resort</h1>

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Drinks')">Drinks</button>
    <button class="tablinks" onclick="openTab(event, 'Dishes')">Dishes</button>
    <button class="tablinks" onclick="openTab(event, 'Specials')">Specials</button>
    <button class="tablinks" onclick="openTab(event, 'Order')">Order</button>
</div>

<div id="Drinks" class="tabcontent">
    <h3>Drinks</h3>
</div>

<div id="Dishes" class="tabcontent">
    <h3>Dishes</h3>
</div>

<div id="Specials" class="tabcontent">
    <h3>Specials</h3>
</div>

<div id="Order" class="tabcontent">
    <h3>Order</h3>
</div>

<script src="js/menu.js"></script>

<script type="text/javascript">
function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
{{>footer}}