{{>header}}
<link href="/css/bootstrap-datetimepicker.min.css" media="screen" rel="stylesheet">
<script charset="UTF-8" src="js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script charset="UTF-8" src="js/locales/bootstrap-datetimepicker.fr.js" type="text/javascript"></script>
<img class="logo" src="../svg/logo.svg">
<h1 class="site-title">Restaurant Molveno Lake Resort</h1>
<img class="back" onclick="openTab(event, 'Homepage')" src="../svg/home.svg"><br>
<br>
<h2 class="titleBar">Reservation List</h2>

<div class="add-wrapper">
    <button class="btn btn-info" id="modalButton" type="button">Make a Reservation</button>
</div>

<!-- add scherm -->
<div class="modal fade" id="reservationInputModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-titleInput">Your Online Reservation</h3>
            </div>
            <div class="modal-body">
                <form enctype='text/plain' id="reservationFormInput" name="inputForm" onsubmit="return validateForm()">
                    First Name:<br>
                    <input class="form-control" id="firstNameInput" name="firstName" placeholder="First Name" type="text"><br>
                    Last Name:<br>
                    <input class="form-control" id="lastNameInput" name="lastName" placeholder="Last Name" type="text"><br>
                    Number Of People:<br>
                    <input class="form-control" id="amountOfPeopleInput" min="1" name="amountOfPeople" placeholder="Amount of People" type="number"><br>
                    E-mail:<br>
                    <input class="form-control" id="emailInput" name="email" placeholder="example@example.nl" type="email"><br>
                    TelephoneNumber:<br>
                    <input class="form-control" id="telephoneNumberInput" name="telephone Number" placeholder="06-12345678" type="tel"><br>
                    Reservation Time:<br>
                    <input class="form-control" id="reservationTimeInput" placeholder="Choose a date and time" type="text" value="" data-date="2012-12-21T15:25:00Z"><br>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="addButton" type="button">Confirm Reservation</button>
                <button class="btn btn-default" data-dismiss="modal" id="btncloseInput" type="button">Close</button>
            </div>
            <div class="error-messages" style="display:none;"></div>
        </div>
    </div>
</div><br>
<br>

<table class="display" id="reservationTable" style="width:80%">
    <col class="reservation_column-one">
    <col class="reservation_column-two">
    <col class="reservation_column-three">
    <col class="reservation_column-four">
    <col class="reservation_column-five">
    <thead>
    <tr>
        <th>Reservation Time</th>
        <th>Table Number</th>
        <th>Amount of People</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
</table>

<!-- edit scherm -->
<div class="modal fade" id="newReservationModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Edit Reservation</h3>
            </div>
            <div class="modal-body">
                <form enctype='text/plain' id="reservationForm" name="reservationForm">
                    First name:<br>
                    <input class="form-control" id="firstName" name='firstName' required="" type='text'><br>
                    Last name:<br>
                    <input class="form-control" id="lastName" name='lastName' required="" type='text'><br>
                    Amount of people<br>
                    <input class="form-control" id="amountOfPeople" min="1" name='amountOfPeople' required="" type='number'><br>
                    E-mail<br>
                    <input class="form-control" id="email" name='email' type='text'><br>
                    TelephoneNumber<br>
                    <input class="form-control" id="telephoneNumber" name='telephoneNumber' type='text'><br>
                    Reservation time<br>
                    <input class="form-control" id="reservationTime" name='reservationTime' required="" type='text'><br>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn reservation_btn-primary" id="btnsubmit" type="button">Submit</button>
                <button class="btn btn-danger" data-placement="top" data-title="Are you sure?" data-toggle="clickover" data-trigger="focus" href="#" id="confirmbutton">Delete</button>
                <button class="btn reservation_btn-default" data-dismiss="modal" id="btnclose" onclick="deselect()" type="button">Close</button>
            </div>
            <div class="error-messages" style="display:none;"></div>
        </div>
    </div>
</div>

<script src="js/homepage.js"></script>
<script src="js/datatable.js"></script>
<script src="js/utils.js"></script>

<script type="text/javascript">
						$("#reservationTimeInput").datetimepicker({
						  format: "dd-mm-yyyy hh:ii:00",
						  showMeridian: false,
						  autoclose: true,
						  todayBtn: true
						});
						</script>

{{>footer}}
