
@font-face {
font-family: "Header font";
src: url("../fonts/BRUSHSCI.ttf");
}



h1, h2, h3, h4, h5, h6 {
    font-family: "Header font";
    color: #00205f;
    }


body {
  font-family: Calibri, sans-serif;
  background-color: #EFF8FB;
  }

.logo {
width: 100px;
}

.site-title {
display: inline-block;
}

.test {
font-family: Calibri, sans-serif;
color: black;
font size: 11px;
}

.btn-default {
background-color: #D8D8D8;
}

.modal-header {
    padding: 2px 16px;
    background-color: #DFF1F7;
    color: white;
}

.modal-footer {
    background-color: #DFF1F7;
    color: white;
}


.modal-content {
    border: 3px solid #888;
}


.btn-primary{
    background-color: #17a2b8;
}

