.button-wrap1 {
  width: 98%;
  height: 30%;
  text-align: center;
}
.button-wrap2 {
  width: 98%;
  height: 10%;
  text-align: center;
}
.buttonManagement {
  position: relative;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: 4%;
  border-radius: 25px;
}

.buttonManagement:hover{
    background-color: #7F8FAF;
}

.buttonManagement:active{
    border-style:none;
}

.back{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 1%;
}